<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boat.mybatis.mapper.AttandanceMapper">
  
		<select id="getAttList" resultType = 'Attandance'>
		select * from BOAT_ATTENDANCE where empno = #{empno}
		order by reg_date desc
		<!--
		select * from BOAT_ATTENDANCE
		개인 회원 전용
		
		admin 전용
		select * from attandance where dept = #{dept}
		  -->
		</select>
		
		<select id="getTodayMyatt" resultType = 'Attandance' parameterType ="String">
		select * from BOAT_ATTENDANCE 
		where REG_DATE =  TO_CHAR(SYSDATE, 'YYYYMMDD')
		and EMPNO = #{EMPNO}
		
		</select>
		
		<insert id="AttOn">
		insert into BOAT_ATTENDANCE (empno, on_time,dept, REG_DATE,name)
		 values(#{EMPNO},#{on},#{DEPT},TO_CHAR(SYSDATE, 'YYYYMMDD'),#{NAME})
		</insert>
		
		<update id="AttOff">
		UPDATE BOAT_ATTENDANCE
		SET off_time = #{OFF_TIME}
		WHERE REG_DATE = TO_CHAR(SYSDATE, 'YYYYMMDD')
		and empno = #{EMPNO}
		</update>
		  
		  
		  
  </mapper>