<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boat.mybatis.mapper.AttandanceMapper">
  
		<select id="getAttList" resultType = 'Attandance'>
		select * from BOAT_ATTENDANCE
		<!--
		개인 회원 전용
		select * from attandance where empno = #{empno}
		
		admin 전용
		select * from attandance where dept = #{dept}
		  -->
		</select>
		
		<insert id="AttOn">
		insert into BOAT_ATTENDANCE (empno, on_time,REG_DATE) values(#{empno},#{on},SYSDATE)
		</insert>
		<update id="AttOff">
		update BOAT_ATTENDANCE SET   off_time =#{off} WHERE REG_DATE= SYSDATE
		</update>
		  
		  
		  
  </mapper>