<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boat.mybatis.mapper.AttandanceMapper">
  
		<select id="getAttList" resultType = 'Attandance'>
		select * from attandance
		<!--
		개인 회원 전용
		select * from attandance where empno = #{empno}
		
		admin 전용
		select * from attandance where dept = #{dept}
		  -->
		</select>
		
		<insert id="AttOn">
		insert into attandance (empno, on_time) values(#{empno},#{on})
		</insert>
		  
		  
		  
  </mapper>