<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boat.mybatis.mapper.FileboMapper">
  
  
	 <select id="heartcount">
	 	select count(FLIKE_NO) from filebo_like 
	 	where empno = #{EMPNO}
	 </select>
 
	  <select id="getheartlist" resultType="Filelike">
	  	select count(*) from filebo_like where File_num = #{file_num} and empno = #{empno}
	  </select>
  
	  <insert id = "hearUp">
		  <selectKey  keyProperty="FLIKE_NO" order="BEFORE">
		  select max(FILEBO_LIKE)+1 from filebo_like
		  </selectKey>
			  insert into filebo_like (FLIKE_NO,FILE_NUM,EMPNO,FILEBO_LIKE)
			  values (#{"FLIKE_NO"},#{FILE_NUM},#{EMPNO},1))
	  </insert>
  
	    <delete id="hearDown">
		  	delete from filebo_like where board_no = #{FILE_NUM} and user_no = #{EMPNO} 
		</delete>
  
  
  
	<select id="getListCount" resultType="int">
		select count(*) from file_board
		
		<!-- 
								
	SELECT * FROM (select rownum rnum, j.* from ( 
							 select file_board.*, nvl(CNT ,0) CNT 
							from file_board left outer join
								 (select F_BO_NUM,count(*) CNT  
											from filecomm 
											group by F_C_NUM)b
									on file_board.FILE_NUM = b.F_BO_NUM 
									order by FILE_RE_REF desc, 
									FILE_RE_SEQ asc)j 
					where rownum<=10 ) 
	WHERE rnum>=0 and rnum<=10;
	
		
		
  SELECT * FROM (select rownum rnum, j.* from (
				 			select board3.*, nvl(CNT ,0) CNT 
							from board3 left outer join 
								(select board_num,count(*) CNT  
										from comments3 
										group by board_num)b 
							on board3.board_num = b.board_num  
							order by board_re_ref desc,  
							board_re_seq asc)j
 				where rownum&lt;=  #{end}   ) 
	WHERE rnum&gt;= #{start}  and rnum&lt;= #{end}  
  
  
   SELECT * FROM (select rownum rnum, j.* from 
   (select board_num, board_subject, nvl(CNT ,0)
			from board left outer join (select comment_board_num,count(*) CNT 
										from comm 
										group by comment_board_num)
			on board_num = comment_board_num
			order by board_re_ref desc,
			board_re_seq asc) j 
where rownum<=?) WHERE rnum>=? and rnum<=?;
		 -->
	</select>
	
  <select id = "getBoardList" resultType="Filebo" parameterType="java.util.Map">
	 <![CDATA[
	 SELECT * FROM (select rownum rnum, j.* from (
							 select file_board.*, nvl(CNT ,0) CNT 
							from file_board left outer join (select F_COMMENT_NUM ,count(*) CNT  
														from FILE_COMMENT  
														group by  F_COMMENT_NUM )b 
												on file_board.FILE_NUM  = b.F_COMMENT_NUM   
							order by FILE_RE_REF  desc,  
							FILE_RE_SEQ  asc)j
							 				where rownum<= 10  ) 
							WHERE rnum>=1  and rnum<= 10  
							 ]]>
  
  </select>
  
  			 
  <insert id = "insertBoard" parameterType = "Filebo">
	  <selectKey resultType="int" order ="BEFORE" keyProperty ="FILE_NUM">
	  	 select nvl(max(FILE_NUM ),0)+1 from file_board 
	  
	  </selectKey>
	 	 insert into file_board 
  (FILE_NUM ,FILE_NAME ,FILE_PASS ,FILE_SUBJECT ,
  FILE_CONTENT ,FILE_FILE ,FILE_FILE2,FILE_ORIGINAL,FILE_ORIGINAL2,FILE_RE_REF ,
  FILE_RE_LEV ,FILE_RE_SEQ ,FILE_READCOUNT ,FILE_DATE )
  values
  (
  #{FILE_NUM},#{FILE_NAME},#{FILE_PASS},#{FILE_SUBJECT},#{FILE_CONTENT},
  #{FILE_FILE,jdbcType=VARCHAR},#{FILE_FILE2,jdbcType=VARCHAR},
   #{FILE_ORIGINAL,jdbcType=VARCHAR},  #{FILE_ORIGINAL2,jdbcType=VARCHAR},
  #{FILE_NUM},#{FILE_RE_LEV},#{FILE_RE_SEQ},#{FILE_READCOUNT},SYSDATE)
  </insert>
  
  <select id ="getDetail" parameterType ="Filebo" resultType = "Filebo">
	select * from file_board  
   where 
  FILE_NUM = #{number}
  </select>
  
  <update id="setReadCountUpdate" parameterType ="int">
	update file_board
  set FILE_READCOUNT  = FILE_READCOUNT +1
  where FILE_NUM = #{number}
  </update>
  
  <!--  map은 java.util.Map의 별칭입니다.-->
  <select id = "isBoardWriter" parameterType = "map" resultType="Filebo" >

  </select>
  
  <update id="boardModify" parameterType = "Filebo" >
	
  
  </update>
  
  <insert id = "boardReply" parameterType = "Filebo">
  	<selectKey resultType="int" order ="BEFORE" keyProperty ="FILE_NUM">
  	</selectKey>
 insert into file_board  
					(FILE_NUM,FILE_NAME  ,FILE_PASS ,FILE_SUBJECT ,
					FILE_CONTENT, FILE_RE_REF ,
					FILE_RE_LEV , FILE_RE_SEQ , FILE_READCOUNT ,FILE_DATE ) 
values( #{FILE_NUM},#{FILE_NAME },#{FILE_PASS },#{FILE_SUBJECT },#{FILE_CONTENT },
					#{FILE_RE_REF },#{FILE_RE_LEV },#{FILE_RE_SEQ },#{FILE_READCOUNT },sysdate)
  </insert>
  
  <update id = "boardReplyUpdate" parameterType = "Filebo">
  	  update file_board  set FILE_RE_SEQ  = FILE_RE_SEQ +1 
					where FILE_RE_REF  = #{FILE_RE_REF }
					and FILE_RE_SEQ  <![CDATA[ > ]]> #{FILE_RE_SEQ }
  </update>
  
  <delete id="boardDelete" parameterType = "int">
 <![CDATA[
  delete from file_board  
			where FILE_RE_REF  = #{FILE_RE_REF} 
			and FILE_RE_LEV   > =#{FILE_RE_LEV} 
			and FILE_RE_SEQ   > =#{FILE_RE_SEQ} 
			and FILE_RE_SEQ   < =(  
							 		nvl((select min(FILE_RE_SEQ) -1 
									  from file_board
									  where FILE_RE_REF = #{FILE_RE_REF} 
									  and FILE_RE_LEV = #{FILE_RE_LEV}
									  and FILE_RE_SEQ  > #{FILE_RE_SEQ}),
									(select max(FILE_RE_SEQ)
								 		from file_board
										 where FILE_RE_REF = #{FILE_RE_REF})))
  ]]>
  </delete>
   <select id ="getDeleteFileList" resultType ="String"> 
   select board_file from delete_file
  </select>
  
  <delete id="deleteFileList" parameterType ="String">
  delete from delete_file where board_file=#{filename}
  </delete>
  
 </mapper>