<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boat.mybatis.mapper.TodoMapper">
  
		
		
		<insert id="Todoinsert">
		insert into TODOLIST (NUM,EMPNO, T_CONTENT,START_DATE,END_DATE) 
		values(todo_seq.nextval, #{EMPNO},#{T_CONTENT},#{START_DATE},#{END_DATE})
		</insert>
		  
		 <select id ="myTodolist" resultType="Todo">
		 select * from TODOLIST
		 where empno = #{empno}
		 order by reg_date desc
		 </select> 
		  
		 <select id="getDept" resultType="string">
		 select dept from member 
		 where empno = #{empno}
		 </select>
		 
		 <select id="myDeptTodo" resultMap ="depttodomember" resultType ="Todo">
		<!-- 부서별 Todo값 가져오기 -->
			SELECT num, empno, T_content, start_date, end_date, reg_date,dept, job, 
			FROM (select * from todolist where dept = '인사팀')T
			 JOIN (select * from member where dept = '인사팀')M
			ON T.empno = M.empno
			order by empno;

		 
		 </select>
		 
		 
		 
		 <resultMap id="depttodomember" type="Todo">
		 	<result property="EMPNO" column="EMPNO"/>
		 	<result property="JOB" column="JOB"/>
		 	<result property="NAME" column="NAME"/>
		 </resultMap>
		 
		 
		 
  </mapper>