<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
        <link rel="stylesheet" href="bootstrap-responsive.css">
        <link rel="stylesheet" href="bootstrap-responsive.min.css">
        <link rel="stylesheet" href="bootstrap.css">
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="fullcalendar.css">
        <link rel="stylesheet" href="fullcalendar.print.css">
		<title>admin check</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="active.jsp">
                            <a class="brand" href="mainview.go">Daewoo Attendance System</a>
                        </li>
                    </ul>
                </div>
            </div>
			<div class="row">
				<div class="span3">
					<jsp:include page="../template/admin/ad_menu.jsp"/>
				</div>
				<div class="span9">
					<h1>관리자 페이지</h1>
					<img src="admin.jpg" class="img-polaroid">
				</div>
			</div>
			<footer>
                <p class="text-right"></p>
            </footer>
		</div>
	</body>
</html>