<!DOCTYPE html>
<html lang="en">
    
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/vendors/iconly/bold.css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="$/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="$/vendors/bootstrap-icons/bootstrap-icons.css">
<link rel="icon" href="$/images/logo/favicon.ico">
<script src="/dayjs.min.js"></script>
<script src="/locale/ko.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="${deptModUrl}" method="post" id="deptModForm">
        <div class="mb-3 font-bold">
            <label id="deptModNo" class="col-form-label">부서 코드는 수정 할 수 없습니다.</label>
        </div>
        <div class="mb-3 font-bold">
            <label for="deptModName" class="col-form-label">부서명 :</label>
            <input id="deptModName" class="form-control" name="deptName" placeholder="부서명 입력">
        </div>
        <div class="mb-3 font-bold">
            <label for="deptModMngId" class="col-form-label">부서 책임자 :</label>
            <input id="deptModMngId" class="form-control" name="deptMngId" placeholder="부서 책임자 사원 번호 입력 (직급 부장 이상만 가능)">
        </div>
        <div class="mb-3 font-bold">
            <input id="modDeptModDt" type="hidden" class="form-control" name="deptModDt" readonly>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="deptModify();">수 정</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취 소</button>
        </div>
    </form>
    

    <!-- 댓글-->

    !-- 댓글 작성하기 -->
<div class="mb-1">
	<c:url var="commentUrl" value="/board/comment" /> <!-- boardController에서 한꺼번에 처리하기 -->
	<form action="${commentUrl}/add" method="post" style="margin: 10px;">
		<div class="avatar avatar-md emp-img display-block" style="margin: 10px;"> <!-- 이미지 -->
			<div class="commentCnt-container black">
				<div class="row" style="margin-bottom: 0px;">
					<div class="col-6">
						<p class="comment-count" style="width: 100px;">댓글 ${commentCnt}개</p>
					</div>
					<div class="col-6">
						<div class="text-end">
							<c:url value="/board" var="boardUrl"/>
							<button class="btn" type="button" onclick="location.href='${boardUrl}?bId=${postData.boardId}'" style="border: solid 1px; #c0c0c0;">목록</button>
						</div>
					</div>
				</div>
				<div class="display-inline">
					<img class="emp-image display-inline" src="${staticUrl}/images/faces/1.jpg">
					<input type="hidden" name="postId" value="${postData.postId}">
					<div class="input-group display-inline">
						<textarea class="textarea-content" name="content" rows="3" placeholder="댓글 작성" onkeyup="this.style.height='26px'; this.style.height = this.scrollHeight + 'px';"></textarea>
				 		<input type="text" name="groupNo" value="${groupNo}" hidden>
				 		<button class="btn" type="submit" name="depth" value="1">작성</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- 댓글 출력 -->
<div class="mb-3">
	<c:forEach items="${commentList}" var="comment" varStatus="status">
		<c:if test="${comment.depth == 0}">
			<div class="allDelete"> <!-- 대댓까지 삭제하기 위해서 만든 div -->
				<div class="mb-1">
					<div class="card comment-container">
						<div class="card-header black">
							<div class="justify-content-between">
								<div class="avatar emp-img">
									<img class="emp-image display-inline" src="${staticUrl}/images/faces/2.jpg">
								</div>
								<span><small>${comment.empNm}</small></span>
								<span><small>${comment.addDate}</small></span>
							</div>
						</div>
						<div class="card-body" style="padding-bottom:0px;">
							<input type="hidden" name=commentId value="${comment.commentId}"> <!-- comment id를 숨겨두기 -> 어떤 댓글인지 알아야 해서  -->
							<p class="card-text black comment-p">${comment.content}</p>
							<c:if test="${loginId eq comment.empId}"> <!-- 본인이 작성한 게시글에 대해서만 수정 삭제 나오도록  -->
								<div class="text-end">
									<button class="btn btn-sm btn-outline-dark" type="button" onclick="changeModify(this);">수정</button>
									<button class="btn btn-sm btn-outline-dark" type="button" onclick="commentDelete1(this);">삭제</button>
									<input name="postId" value="${comment.postId}" hidden>
								</div>
							</c:if>
						</div>
						<div class="toggle-btn-container"> 
							<i class="bi bi-caret-down-fill"></i>
							<button class="btn" type="button" onclick="showToggle(this);">댓글보기</button>
						</div>
					</div>
				</div>
				<!-- 대댓 -->
				<form action="${commentUrl}/add2" class="secComm" method="post" style="display:none;">
					<div class="card">
						<div class="display-inline emp-img margin-left-10">
							<img class="emp-image display-inline" src="${staticUrl}/images/faces/1.jpg">
							<input type="hidden" name="postId" id="postId" value="${postData.postId}">
							<div class="input-group display-inline">
								<textarea class="textarea-content" onkeyup="this.style.height='26px'; this.style.height = this.scrollHeight + 'px';" name="content" rows="3" placeholder="댓글 작성" ></textarea>
								<input type="text" name="groupNo" value="${comment.groupNo}" hidden>
								<button class="btn" type="submit" name="depth" value="2" >작성</button>
							</div>
						</div>
					</div>
				</form>
				<div class="mb-1 second-comment-container" style="display: none;">
					<c:forEach items="${commentList}" var="secComment">
						<c:if test="${secComment.groupNo eq comment.groupNo && secComment.depth == 1}">
							<div class="card second-comment-controller">
								<div class="card-header black">
									<div class="justify-content-between">
										<div class="avatar emp-img">
											<img class="emp-image display-inline" src="${staticUrl}/images/faces/2.jpg">
										</div>
										<span><small>${secComment.empNm}</small></span>
										<span><small>${secComment.addDate}</small></span>
									</div>
								</div>
								<div class="card-body" style="padding-bottom:0px;">
									<input type="hidden" name=commentId value="${secComment.commentId}"> <!-- comment id를 숨겨두기 -> 어떤 댓글인지 알아야 해서  -->
									<p class="card-text black">${secComment.content}</p>
									<c:if test="${loginId eq secComment.empId}"> <!-- 본인이 작성한 게시글에 대해서만 수정 삭제 나오도록  -->
										<div class="text-end">
											<button class="btn btn-sm btn-outline-dark" type="button" onclick="changeModify(this);">수정</button>
											<button class="btn btn-sm btn-outline-dark" type="button" onclick="commentDelete2(this);">삭제</button>
											<input name="postId" value="${comment.postId}" hidden>
										</div>
									</c:if>
								</div>
							</div>
						</c:if>
					</c:forEach>
				</div>
			<!-- 대댓끝 -->
			</div>
		</c:if>
	</c:forEach>
</div>
</body>
</html>